Firmware/controller/Maelstrom10/s212/armgcc/_build/
Firmware/controller/Maelstrom10/s332/armgcc/_build/
Firmware/BIST/pca10040/s332/armgcc/_build/
Firmware/BIST/pca10040/blank/armgcc/_build/
Firmware/Bootloader/pca10040_ble_debug/armgcc/_build
Firmware/Bootloader/Maelstrom10/armgcc/_build